body {
  /* background: #eee; */
  text-align: center;
  padding: 0 25px;
  font-family: arial, sans-serif;
  line-height: 1;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4aARWVEcL39FBUgUulIDvPIfpbFuIdegbNA&usqp=CAU")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main, #chats {
  width: 550px;
  margin: auto;
  text-align: left;
  background: rgba(183, 0, 255, 0.13);
  padding: 50px 60px;
  border: solid rgb(219, 7, 209);
  border-width: 0 1px 1px 1px;
}

#main h1 {
  text-align: center;
  font-style: initial;
  color: lawngreen;
  background-color: transparent;
  margin-top: 0;
  font-size: 35px;
  margin-bottom: 15px;
  padding: 5px 5px 5px 0px;
}

#main h1 span {
  font-style: initial;
}

#main ul {
  padding-left: 20px;
}

#main .error {
  border: 1px solid red;
  background: #e60bc9d3;
  padding: 20px;
}

#main .success {
  margin-top: 25px;
}

#main .success code {
  font-size: 12px;
  color: green;
  line-height: 13px;
}

form {
  padding: 20px;
  padding-left: 0;
  margin-bottom: 20px;
}

form input[type=text] {
  margin-right: 10px;
  width: 70%;
  font-size: 12px;
  padding: 5px;
}

.submit{
  float: right;
}

.chat {
  color: lawngreen;
  font-style: unset;
  padding: 5px;
  border: 1px solid #b50fd7;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.461);
}

.chat .username {
  font-weight: 800;
}

.chat:hover {
  background-color: rgba(7, 0, 0, 0.527);
}

.spinner {
  float: right;
  height: 46px;
  margin-bottom: 5px;
}

.spinner img {
  padding: 10px;
}

.friend {
  color: #fff;
  background-color: #0090da;
}

.topnav {
  overflow: hidden;
  font-style: initial;
  background-color: transparent;
  position: relative;
  padding: 0px;
}

.topnav #hamburgerLinks {
  display: none;
  height: 100px;
}

.topnav #hamburgerLinks a {
  padding: 0px;
}

.topnav a {
  color: black;
  padding: 14px 0px 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: transparent;
  color: lawngreen;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  color: #ddd;
}

.menuSpacer {
  width: 66%;
  height: 0px;
}

.container {
  display: flex;
}

.menuTitle {
  font-size: 1em;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.label {
  color: lawngreen;
}

.enterroom {
  color: lawngreen;
  background-color: rgba(0, 0, 0, 0.461);
}

.submit {
  color: lawngreen;
  background-color: rgba(0, 0, 0, 0.461);
}

#message {
  margin-right: 13px;
}